/* --------------------------------------------------- VARIABLES */
:root {
    --violet-text: linear-gradient(180deg, #c35ebb 0%, #7364f0 100%);
    --violet-btn: linear-gradient(92.05deg, #c35ebb 0%, #7364f0 100%);
    --gray-text: #7a7a84;
}
/* --------------------------------------------------- FONTS */
@font-face {
    font-family: "Gotham";
    src: url("css/fonts/Gotham-XLight.woff2") format("woff2"), url("css/fonts/Gotham-XLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("css/fonts/Gotham-MediumItalic.woff2") format("woff2"),
        url("css/fonts/Gotham-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("css/fonts/Gotham-Bold.woff2") format("woff2"), url("css/fonts/Gotham-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("css/fonts/Gotham-Light.woff2") format("woff2"), url("css/fonts/Gotham-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("css/fonts/Gotham-Light.woff2") format("woff2"), url("css/fonts/Gotham-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("css/fonts/Gotham-Black.woff2") format("woff2"), url("css/fonts/Gotham-Black.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("css/fonts/Gotham-Book.woff2") format("woff2"), url("css/fonts/Gotham-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("css/fonts/Gotham-BookItalic.woff2") format("woff2"),
        url("css/fonts/Gotham-BookItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("css/fonts/Gotham-XLightItalic.woff2") format("woff2"),
        url("css/fonts/Gotham-XLightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("css/fonts/Gotham-UltraItalic.woff2") format("woff2"),
        url("css/fonts/Gotham-UltraItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("css/fonts/Gotham-Bold.woff2") format("woff2"), url("css/fonts/Gotham-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("css/fonts/Gotham-Thin.woff2") format("woff2"), url("css/fonts/Gotham-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("css/fonts/Gotham-ThinItalic.woff2") format("woff2"),
        url("css/fonts/Gotham-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("css/fonts/Gotham-Medium.woff2") format("woff2"), url("css/fonts/Gotham-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("css/fonts/Gotham-BoldItalic.woff2") format("woff2"),
        url("css/fonts/Gotham-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("css/fonts/Gotham-BookItalic.woff2") format("woff2"),
        url("css/fonts/Gotham-BookItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("css/fonts/Gotham-Medium.woff2") format("woff2"), url("css/fonts/Gotham-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: url("css/fonts/Gotham-LightItalic.woff2") format("woff2"),
        url("css/fonts/Gotham-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* --------------------------------------------------- RESET CSS */
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}
a {
    text-decoration: none;
    transition: 0.3s;
}
/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}
/* --------------------------------------------------- COMMON STYLES */
html {
    font-size: 10px;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #000;
}
header {
    order: 1;
}
main {
    order: 2;
    flex-grow: 1;
}
footer {
    order: 3;
}
body * {
    font-family: "Gotham", sans-serif;
    color: #fff;
    line-height: 1.4;
}
.wrapper {
    max-width: 1147px;
    margin: 0 auto;
}
h1 {
    font-size: 7.2rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 2.4rem;
}
h4 {
    font-size: 1.8rem;
}
p {
    font-size: 1.6rem;
}
.btn {
    display: inline-block;
    padding: 1.5rem 8rem;
    background: var(--violet-btn);
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    outline: 0.3rem solid transparent;
    transition: 0.3s;
}
.btn:hover {
    background: transparent;
    outline: 0.3rem solid #7364f0;
    color: #fff;
    transition: 0.3s;
}
.btn:active {
    color: var(--gray-text);
    transition: 0.3s;
}
a:hover {
    color: #c35ebb;
    transition: 0.3s;
}
/* --------------------------------------------------- HEADER */
.header {
    position: relative;
    margin-top: 1rem;
    background-color: #000;
    background-image: url(../img/header.jpg);
    background-size: cover;
    height: 100vh;
    z-index: 1;
}
.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background: linear-gradient(360deg, #1d1d26 0%, #1d1d26 0.01%, #201d26 0.02%, rgba(29, 29, 38, 0.38) 100%);
    z-index: -1;
}
.header__inner {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 2rem;
}
.header__top {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-flow: row wrap;
}
.menu a,
.meun p,
.login__wrapper a,
.login__wrapper p {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
}
.menu__wrapper {
    display: flex;
    align-items: center;
}
.menu__wrapper,
.login__wrapper {
    max-width: 43%;
    flex-basis: 43%;
}
.menu {
    display: flex;
    flex-flow: row wrap;
}
.menu__item {
    padding: 0 1.2rem;
}
.menu__item a {
    position: relative;
    padding: 1rem 0;
}
.menu__item a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background: linear-gradient(180deg, #c35ebb 0%, #7364f0 100%);
    transition: 0.5s;
}
.menu__item a:hover::after {
    width: 100%;
    transition: 0.5s;
}
.logo {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    max-width: 14%;
    flex-basis: 14%;
    background: -webkit-linear-gradient(180deg, #c35ebb 0%, #7364f0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -2px;
    z-index: -1;
    background-color: #000;
    border-radius: 0px 0px 30px 30px;
}
.login__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.login__item {
    display: flex;
    padding: 0 1.5rem;
}
.login__item a {
    display: flex;
    align-items: center;
}
.login__item--circle {
    position: relative;
}
.login__item--circle img {
    width: 36px;
    height: 36px;
    border: 0.5px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 5px;
    transition: 0.3s;
}
.login__subitem:hover img,
.login__item--circle:hover .main-lang {
    border-color: #c35ebb;
    transition: 0.3s;
}
.login__item--circle:hover .lang__submenu {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}
.lang__submenu {
    position: absolute;
    width: 12rem;
    padding: 1.5rem 1rem;
    top: 5rem;
    left: 0;
    background: rgba(0, 0, 0, 0.71);
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.lang__submenu p {
    font-family: Gotham Pro;
    font-size: 12px;
    margin-bottom: 2rem;
    color: #b3b3b4;
}
.login__subitem {
    margin-bottom: 1rem;
}
.login__subitem a {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #b3b3b4;
}
.login__subitem img {
    margin-right: 1rem;
}
.login__registration img {
    width: 21px;
    height: 21px;
    margin-left: 1rem;
    filter: invert(0.5);
    transition: 0.3s;
    cursor: pointer;
}
.login__registration:hover img {
    filter: inherit;
    transition: 0.3s;
}
.login__enter a {
    padding: 1rem 2.5rem;
    border: 0.5px solid rgba(255, 255, 255, 0.7);
    border-radius: 36px;
}
.login__enter:hover a {
    border-color: #c35ebb;
    transition: 0.3s;
}
.login__enter img {
    width: 14px;
    height: 21px;
    margin-left: 1rem;
}
.login__enter:hover img {
    filter: invert(0.5);
}
.header__main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-basis: 50%;
    margin: 0 auto;
    text-align: center;
}
.header__main p {
    font-size: 1.8rem;
    margin-bottom: 4rem;
}
.advantages__block {
    position: relative;
}
.advantages__list {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 5.5rem;
    justify-content: space-between;
}
.advantages__list:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 48px;
    width: 100%;
    background-color: #c4c4c4;
}
.advantages__item {
    display: flex;
    flex-flow: row wrap;
    width: 23%;
    flex-basis: 23%;
    align-items: center;
}
.advantages__item h4 {
    flex-basis: 70%;
    transition: 0.3s;
}
.advantages__item h4:hover {
    color: #c35ebb;
    transition: 0.3s;
}
.advantages__item p {
    flex-basis: 100%;
    margin-top: 1.5rem;
    font-size: 1.2rem;
}
.advantages__item img {
    height: 45px;
    object-fit: cover;
    margin-right: 2.5rem;
}
/* --------------------------------------------------- MAIN */
.main {
    padding: 12rem 1rem;
    background-color: #1d1d26;
}
.main__slider .slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 1px -125px 0px -95px rgba(37, 37, 48, 1);
    -moz-box-shadow: 1px -125px 0px -95px rgba(37, 37, 48, 1);
    box-shadow: 1px -125px 0px -95px rgba(37, 37, 48, 1);
}
.slider__arrow--left {
    margin-right: 3rem;
}
.slider__arrow--right {
    margin-left: 3rem;
}
.slider__arrow:hover {
    transform: scale(1.2);
    filter: invert();
}
.main__slider .slider__inner {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem 10rem 0 10rem;
    background-color: #252530;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
}
.main__slider .slider__inner img {
    width: 50%;
    object-fit: cover;
    background-color: #252530;
}
.main__slider .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    flex-basis: 50%;
}
.main__slider h3 {
    margin-bottom: 2.5rem;
    font-weight: 100;
}
.main__slider p {
    color: #7a7a84;
    margin-bottom: 1.5rem;
}
.main__slider .link {
    font-size: 1.4rem;
    margin-bottom: 6rem;
    color: #c35ebb;
}
.main__slider .link::after {
    content: url(../img/icons/link_arrow.svg);
    margin-left: 1rem;
    transition: 0.3s;
}
.main__slider .link:hover {
    color: #7364f0;
}
.main__slider .link:hover::after {
    transition: 0.3s;
    margin-left: 2rem;
}
.indicators {
    padding: 10rem 1rem;
}
.indicators__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.indicator__block {
    position: relative;
    width: 25%;
    flex-basis: 25%;
    text-align: center;
}
.indicator__block:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    height: 70px;
    width: 2px;
    background-color: rgba(38, 132, 254, 0.15);
    transform: translateY(-50%);
}
.indicator__block:last-child::after {
    content: "";
    display: none;
}
.indicator__block p {
    transition: 0.3s;
    color: #7a7a84;
}
.indicator__block p:first-child {
    text-transform: uppercase;
    color: #fff;
}
.indicator__block:hover p {
    color: #7364f0;
    transition: 0.3s;
}
.indicator__block span {
    font-size: 4.8rem;
    font-weight: 900;
    background: -webkit-linear-gradient(180deg, #c35ebb 0%, #7364f0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.start {
    text-align: center;
}
.start p {
    color: #7a7a84;
}
.start__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 6rem 1rem;
}
.steps {
    position: relative;
    width: 30%;
    flex-basis: 30%;
    transition: 0.3s;
}
.steps:hover {
    transform: translateY(-10%);
    transition: 0.3s;
}
.steps:hover .step__block {
    border: 1px solid #c35ebb;
}
.steps span {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #c35ebb 0%, #7364f0 100%);
    font-size: 2.6rem;
    font-weight: 900;
}
.step__block {
    height: 100%;
    background: #252530;
    padding: 3rem;
}
.step__block img {
    height: 150px;
    object-fit: cover;
}
.step__block h3,
.step__block img {
    margin-bottom: 2rem;
}
.open-account {
    padding: 5rem 1rem;
    background-color: #252530;
    text-align: center;
}
.open-account h2 {
    margin-bottom: 1rem;
}
.open-account p {
    opacity: 0.8;
    font-size: 1.8rem;
    margin-bottom: 3rem;
}
.calculator__inner {
    display: flex;
    flex-flow: row wrap;
    padding: 10rem 1rem;
}
.calculator__main,
.calculator__info {
    display: flex;
    flex-basis: 50%;
    width: 50%;
}
.calculator__main {
    display: flex;
    flex-direction: column;
    padding: 5.5rem;
    background-color: #252530;
}
.calculator__main h3 {
    margin-bottom: 4rem;
}
.calculator__main p {
    margin-bottom: 1rem;
}
.calculator__main span {
    color: #7a7a84;
}
.calculator__range {
    margin-bottom: 3rem;
}
.calculator__range p {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
.calculator__range span {
    font-size: 1.8rem;
    color: #7a7a84;
    font-weight: 100;
    margin-left: 1rem;
}
.calculator__num {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.calculator__num li {
    color: #4a4a4a;
}
.calculator__range input {
    width: 100%;
}
input[type="range"] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type="range"]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}
/* STYLING CURSOR */
/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -7px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    border-radius: 50%;
}
/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
}
/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
    height: 16px;
    width: 16px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
}
/* STYLING LINE */
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #7364f0;
    border-radius: 29px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #c35ebb;
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #7364f0;
    border-radius: 29px;
}
input[type="range"]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #7364f0;
    border-radius: 29px;
}
input[type="range"]::-ms-fill-lower {
    background: #c35ebb;
}
input[type="range"]:focus::-ms-fill-lower {
    background: #c35ebb;
}
input[type="range"]::-ms-fill-upper {
    background: #c35ebb;
}
input[type="range"]:focus::-ms-fill-upper {
    background: #c35ebb;
}
.calculator__result {
    margin-top: 1rem;
    padding-top: 5rem;
    border-top: 0.5px solid #7a7a84;
}
.calculator__result p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #7a7a84;
    font-size: 1.8rem;
}
.calculator__result span {
    font-size: 3.6rem;
    color: #fff;
    font-weight: 700;
}
.calculator__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 8.5rem;
}
.calculator__info h2 {
    margin-bottom: 2rem;
}
.calculator__info p {
    color: #7a7a84;
    margin-bottom: 4.5rem;
}
.our-service h2 {
    margin-bottom: 1rem;
}
.our-service p {
    color: #7a7a84;
    margin-bottom: 6rem;
}
.our-service__inner {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10rem;
}
.our-service__video {
    position: relative;
    width: 57rem;
    height: 32rem;
    background-color: #000;
}
.video:after {
    content: "";
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    height: 11rem;
    width: 11rem;
    background: url("../img/icons/video-play.png") no-repeat;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.video:hover::after {
    transform: scale(1.2) translateX(-40%);
    transition: 0.3s;
}
.how-it-works__inner {
    display: flex;
    flex-flow: row wrap;
}
.how-it-works__info,
.how-it-works__calculator {
    width: 50%;
    flex-basis: 50%;
}
.how-it-works__info {
    padding: 5rem 3rem 5rem 2rem;
}
.how-it-works__info h2 {
    margin-bottom: 1rem;
}
.how-it-works__info p {
    margin-bottom: 5rem;
    color: #7a7a84;
}
.how-it-works__info a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 10rem;
}
.how-it-works__info a::before {
    content: url("../img/icons/play.png");
    display: block;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}
.how-it-works__info a:hover::before {
    transform: scale(1.2) rotate(360deg);
    transition: 1s;
}
.how-it-works__heading {
    text-transform: uppercase;
    font-size: 1.8rem;
}
.crypto,
.crypto__block {
    display: flex;
    flex-flow: row wrap;
}
.crypto__block {
    align-items: center;
    margin-right: 3.5rem;
}
.crypto__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    background: #252530;
}
.crypto__block p {
    padding: 1.77rem 3.5rem;
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 0;
    background: rgba(37, 37, 48, 0.5);
}
.how-it-works__calculator {
    padding: 5rem;
    padding-right: 7rem;
    background: url("../img/change-bg.png") no-repeat;
    background-size: cover;
    text-align: center;
}
.how-it-works__calculator input[type="radio"] {
    display: none;
}
.how-it-works__selector {
    margin-bottom: 4rem;
}
.selector__val {
    padding: 1.5rem 5rem;
    color: #7364f0;
    border: 1px solid #7364f0;
    font-size: 2.4rem;
}
.selector__val:hover {
    color: #c35ebb;
    border: 1px solid #c35ebb;
    cursor: pointer;
}
#litecoin:checked + .selector__val {
    background: var(--violet-btn);
    color: #252530;
}
#litecoin:checked + .selector__val:hover {
    background: linear-gradient(92.05deg, #7364f0 0%, #c35ebb 100%);
}
#bitcoin:checked + .selector__val {
    background: var(--violet-btn);
    color: #252530;
}
#bitcoin:checked + .selector__val:hover {
    background: linear-gradient(92.05deg, #7364f0 0%, #c35ebb 100%);
}
.how-it-works__result {
    display: flex;
    flex-direction: row;
    margin: 0 0 6rem -6.5rem;
}
.result__block {
    padding: 2rem 2.5rem;
    background-color: #252530;
}
.result__block p {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #7a7a84;
}
.result__block span {
    font-size: 5.6rem;
    color: #bdbdbd;
    font-weight: 700;
}
.result__block--right {
    text-align: right;
    box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.19);
}
.feedback {
    text-align: center;
}
.feedback p {
    color: #7a7a84;
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
}
.feedback__slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5rem 1rem;
    margin-bottom: 5rem;
}
.feedback__slider .slider__inner {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: space-between;
}
.feedback__video {
    position: relative;
    width: 27rem;
    height: 15rem;
    background: url(../img/review.jpg) no-repeat;
    background-size: cover;
    opacity: 0.5;
    transition: 0.3s;
}
.feedback__video:hover {
    opacity: 1;
    transition: 0.3s;
}
.feedback__slider .video::after {
    top: 20%;
}
.feedback__video--big {
    transform: scale(1.5);
}
.investing {
}
