/* --------------------------------------------------- VARIABLES */
:root {
    --violet-text: linear-gradient(180deg, #C35EBB 0%, #7364F0 100%);
    --violet-btn: linear-gradient(92.05deg, #C35EBB 0%, #7364F0 100%);
    --gray-text: #7A7A84;
}
/* --------------------------------------------------- FONTS */
@font-face {
    font-family: 'Gotham';
    src: url('css/fonts/Gotham-XLight.woff2') format('woff2'),
        url('css/fonts/Gotham-XLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('css/fonts/Gotham-MediumItalic.woff2') format('woff2'),
        url('css/fonts/Gotham-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('css/fonts/Gotham-Bold.woff2') format('woff2'),
        url('css/fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('css/fonts/Gotham-Light.woff2') format('woff2'),
        url('css/fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('css/fonts/Gotham-Light.woff2') format('woff2'),
        url('css/fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('css/fonts/Gotham-Black.woff2') format('woff2'),
        url('css/fonts/Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('css/fonts/Gotham-Book.woff2') format('woff2'),
        url('css/fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('css/fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('css/fonts/Gotham-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('css/fonts/Gotham-XLightItalic.woff2') format('woff2'),
        url('css/fonts/Gotham-XLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('css/fonts/Gotham-UltraItalic.woff2') format('woff2'),
        url('css/fonts/Gotham-UltraItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('css/fonts/Gotham-Bold.woff2') format('woff2'),
        url('css/fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('css/fonts/Gotham-Thin.woff2') format('woff2'),
        url('css/fonts/Gotham-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('css/fonts/Gotham-ThinItalic.woff2') format('woff2'),
        url('css/fonts/Gotham-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('css/fonts/Gotham-Medium.woff2') format('woff2'),
        url('css/fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('css/fonts/Gotham-BoldItalic.woff2') format('woff2'),
        url('css/fonts/Gotham-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('css/fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('css/fonts/Gotham-BookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('css/fonts/Gotham-Medium.woff2') format('woff2'),
        url('css/fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('css/fonts/Gotham-LightItalic.woff2') format('woff2'),
        url('css/fonts/Gotham-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* --------------------------------------------------- RESET CSS */
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
    text-decoration: none;
}
/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
/* --------------------------------------------------- COMMON STYLES */
html {
    font-size: 10px;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #000;
}
header {
    order: 1;
}
main {
    order: 2;
    flex-grow: 1;
}
footer {
    order: 3;
}
body * {
    font-family: 'Gotham', sans-serif;
    color: #fff;
    line-height: 1.4;
    z-index: 2;
}
.wrapper {
    max-width: 1147px;
    margin: 0 auto;
}
.text {
    font-size: 1.6rem;
}
h1 {
    font-size: 7.2rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 2.4rem;
}
h4 {
    font-size: 1.8rem;
}
.btn {
    pad: 1.5rem 8rem;
    background: var(--violet-btn);
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}
a:hover {
    background: linear-gradient(92.05deg, #C35EBB 0%, #7364F0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* --------------------------------------------------- HEADER */
.header {
    margin-top: 1rem;
    background-color: #000;
    background-image: url(../img/header.jpg);
    background-size: cover;
    min-height: 100vh;
}
.header__top {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 3rem 1rem;
}
.header::after {
    content: "";
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #1D1D26 0%, #1D1D26 0.01%, #201D26 0.02%, rgba(29, 29, 38, 0.38) 100%);
    z-index: 1;
}
.menu a, .meun p, .login__wrapper a, .login__wrapper p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}
.menu__wrapper {
    display: flex;
    align-items: center;
}
.menu__wrapper, .login__wrapper {
    max-width: 40%;
    flex-basis: 40%;
}
.menu {
    display: flex;
    flex-flow: row wrap;
}
.menu__item {
    padding: 0 1.2rem;
}
.menu__item a {
    position: relative;
    padding: 1rem 0;
}
.menu__item a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background: linear-gradient(180deg, #C35EBB 0%, #7364F0 100%);
    transition: 0.5s;
}
.menu__item a:hover::after {
    width: 100%;
    transition: 0.5s;
}
.logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    max-width: 20%;
    flex-basis: 20%;
    background: linear-gradient(92.05deg, #C35EBB 0%, #7364F0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.85;
    transition: 0.3s;
}
.logo:hover {
    opacity: 1;
    transition: 0.3s;
}
.login__inner {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.login__item {
    display: flex;
    padding: 0 1.5rem;
}
.login__item a {
    display: flex;
    align-items: center;
}
.login__item--circle {
    position: relative;
}
.login__item--circle img {
    width: 36px;
    height: 36px;
    border: 0.5px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 5px;
    transition: 0.3s;
}
.login__subitem:hover img, .login__item--circle:hover .main-lang {
    border-color: #C35EBB;
    transition: 0.3s;
}
.login__item--circle:hover .lang__submenu {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}
.lang__submenu {
    position: absolute;
    width: 12rem;
    padding: 1.5rem 1rem;
    top: 5rem;
    left: 0;
    background: rgba(0, 0, 0, 0.71);
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.lang__submenu p {
    font-family: Gotham Pro;
    font-size: 12px;
    margin-bottom: 2rem;
    color: #B3B3B4;
}
.login__subitem {
    margin-bottom: 1rem;
}
.login__subitem a {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #B3B3B4;
}
.login__subitem img {
    margin-right: 1rem;
}
.login__registration img {
    width: 21px;
    height: 21px;
    margin-left: 1rem;
    filter: invert(0.5);
    transition: 0.3s;
    cursor: pointer;
}
.login__registration:hover img {
    filter: inherit;
    transition: 0.3s;
}
.login__enter a {
    padding: 1rem 2.5rem;
    border: 0.5px solid rgba(255, 255, 255, 0.7);
    border-radius: 36px;
}
.login__enter:hover a {
    border-color: #C35EBB;
    transition: 0.3s;
}
.login__enter img {
    width: 14px;
    height: 21px;
    margin-left: 1rem;
}
.login__enter:hover img {
    filter: invert(0.5);
}